# Import modules

In [1]:
import pandas as pd

# OOV Analysis

In [ ]:
# context_size, fold_#, total_oov_token, correct_pred%, wrong_pred%

In [ ]:
train_oov = pd.DataFrame({
    "context_size": [1, 1, 1, 1, 1, 5, 5, 5, 5, 5, 10, 10, 10, 10, 10, 15, 15, 15, 15, 15, 20, 20, 20, 20, 20, 25, 25, 25, 25, 25, 30, 30, 30, 30, 30, 35, 35, 35, 35, 35, 40, 40, 40, 40, 40, 45, 45, 45, 45, 45, 50, 50, 50, 50, 50, 55, 55, 55, 55, 55, 60, 60, 60, 60, 60],
    "fold_#": [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
    "total_oov_token" ,
    "correct_pred": ,
    "wrong_pred":
})

In [12]:
df = pd.DataFrame({
    'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'],
    'Number length': [1, 1, 2, 1],
    'Max Speed': [380., 370., 24., 26.],
})
df

   Animal  Number length  Max Speed
0  Falcon              1      380.0
1  Falcon              1      370.0
2  Parrot              2       24.0
3  Parrot              1       26.0

In [13]:
df.set_index(['Animal', 'Number length']).swaplevel(0,1)

                      Max Speed
Number length Animal
1             Falcon      380.0
              Falcon      370.0
2             Parrot       24.0
1             Parrot       26.0